* {
    font-family:'Nunito',sans-serif;
    margin:0;padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:none;border:none;
    transition:all 0.3s ease-in-out;
    /* color: silver; */
}

html, body {
    min-width: 27rem;
    color: #02115c;
    font-family:'Open Sans', Arial, sans-serif;
    background-color: silver;
    line-height: 1.8;
}

header .profile-logo{
    position: fixed;
    top: 0; left: 0;
    flex-flow:column;
    text-align:center;
    background-color: silver;
    padding-left: 40px;
    float:left;
    border-radius: 5px;
    width: 400px;
    border: solid;
    border-radius: 5px;
    border-color: rgba(43, 15, 70, 0.4);
    background-color: 
    rgb(221, 220, 220);
}


header .myProfile img{
    height: 17rem;
    width: 17rem;
    border-radius:25%;
    box-shadow: 0;
    /* object-fit: cover; */
    margin-bottom:1rem;
    border-style: solid;
}

header .myProfile .name{
    font-size:1.5rem;

}

/* header .profile-logo {
    position:fixed;
    display: block;
    float: left;
} */
.navbar ul{
    z-index:1;
    background: silver;
    display: flex;
    justify-content: space-between;
    float: right;
    font-size: 18px;
    padding:20px;
    min-width:420px;
    position: fixed;
    right:0;
    top:10px;
    /* border:2px solid; */
    border-radius:4px;
    list-style: none;
    width: 30%;
    }
    
    .navbar ul li a{
        display:inline-block;
        padding: 5px;
        text-decoration: none;
        color:aliceblue;
        font-size: 15px;
        background-color: rgba(13, 2, 24, 0.4);
        border-radius: 15px;
        transition: 0.5s ease-in-out;
    }

/* //.navbar  nav ul li a{
    /* float: right;
     display:block; 
    display: flex;
    padding:10px;
    margin:15px 0;
    background:#333;
    color:#fff;
    font-size:20px;
    border-radius:50px;
   list-style: none;
    }*/

header .navbar nav ul li a:hover{
    background:var(-- yellow);
 }

section {
    /* position: absolute; */
    margin: 70px 0px 110px 400px;
    padding: 20px;
}

#centered {
    text-align:center;
    border: solid;
}

#prog-exp{
    display: flex;
    text-align:center;
    background-color:blue;
    color: #26d0c9;
}

h4 {
    display: flex;
    text-align:center;
    background-color:blue;
    color: #26d0c9;
}

span {
    display: flex;
    float: right;
    text-align: right;
}

footer {
 background-color:rgba(13, 2, 24, 0.4);
}